/* .intro {
    background-color: yellow;
  } */

  
  .center {
    text-align: center;
    }
   .navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: rgb(187, 142, 142);
  }
  
  .navi-item {
    float: right;
  }
  
  .navi-item a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navi-item a:hover {
    background-color: #111;
  }

  .footer {
    background-color: grey;
    color: white;
    padding: 15px;
  }