.header{
    width:1440px;
    margin:0px auto;
}
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow: hidden;
    width:100%;
}

.navi-item {
    display: block;
    float: left;
    padding-top:45px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.navi-item:not(:last-child){
    padding-right:48px;
}

.link{
    text-decoration: none; 
}

.clear-both{
    clear:both;
}

.logo{
    font-size: 30px;
    line-height: 45px;
    font-weight: 600;
    float: left;
    padding-left:40px;
    padding-top:32px;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.navi-right-items{
    padding-top:45px;

}

.navi-home{
    color: #4E42D9;
    font-weight: 600;
    font-size: 16px;
    
}

.navi-aboutus{
    color: #797979;
    font-weight: 600;
    font-size: 16px;
}

.navi-services{
    color: #797979;
    font-weight: 600;
    font-size: 16px;
}

.navi-news{
    color: #797979;
    font-weight: 600;
    font-size: 16px;
}

.color-text-greytype{
    color: #797979;
}

.color-text-purpletype{
    color: #4E42D9;
}

.contact-box {
    padding: 16px 30px;
    margin-right:40px;
    margin-top:32px;
    background: #4E42D9;
    border-radius: 4px;
}

.color-text-white{
    color:white;
}

.second-section{
    padding-top:100px;
    height: 584px; 
    margin-bottom:72px;
}

.second-section-left-top{
    width: 500px;
    height: 141px;
    font-weight: 700;
    font-size: 36px;
    color: #3B3950;
    padding-bottom:12px;
}

.second-section-left-centre{
    padding-top:12px;
    width: 454px;
    height: 216px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #797979;
}

.second-section-left-bottom{
   padding-top: 48px;
}

.second-section-left-bottom-left{
    background: #4E42D9;
    border-radius: 4px;
    padding-right: 30px;
    padding-top:16px;
    padding-left:30px;
    padding-bottom:16px;
}

.second-section-bottom-text{
    font-weight: 600;
    font-size: 16px;
}

.second-section-left-bottom-right{
    padding-right: 30px;
    padding-top:16px;
    padding-left: 30px;
    padding-bottom:16px;
    background: rgba(78, 66, 217, 0.18);
    border-radius: 4px;
    margin-left:12px;
}

.second-section-bottom-text2{
    font-weight: 600;
    font-size: 16px;
}

.second-section-right{
    width: 578px;
}

.second-section-format{
    padding-right:120px;
}

.third-section-first{
    font-weight: 600;
    font-size: 32px;
    text-align:center;
    color: #3B3950;
    padding-bottom:40px;
}

.web-app{
    width: 285px;
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.what-do-heading{
    font-weight: 500;
    font-size: 25px;
    color: #3B3950;
    margin-bottom: 8px;
}

.what-do-content{
    font-weight: 400;
    font-size: 16px;
    color: #797979;
}

.seo{
    width: 285px;
    text-align: center;
    padding-left:20px;
}

.game{
    width: 285px;
    text-align: center;
    padding-left:20px;
}

.ai{
    width: 285px;
    text-align: center;
    padding-left:20px;
}

.services-image{
    margin:0px auto;
    width:91px;
    height:90px;
    margin-bottom:24px;
}

.fourth-section-first{
    font-weight: 600;
    font-size: 32px;
    text-align:center;
    color: #3B3950;
}

.third-text{
    margin:0px auto;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color:#797979;
    margin-bottom: 40px;
    width:560px;
}

.fourth-section{
    background-color: #F8F8F8;
    margin:0px auto;
    margin-top:72px;
    padding:72px 120px 74px 120px;
    width:1440px;
}

.blog-container{
    margin-left:120px;
    margin-right:120px;
    margin-bottom:72px;
}

.date-text{
    font-weight: 500;
    font-size: 14px;
    color: #797979;
    margin-bottom: 12px;
}

.blog-topic{
    font-weight: 600;
    font-size: 18px;
    color: #3B3950;
    margin-bottom: 12px;
}

.blog-content{
    font-weight: 400;
    font-size: 16px;
    color: #797979;
}

.blog-1{
    width:386px;
}

.blog-1:not(:last-child){
    margin-right:20px;
}

.view{
    margin:0px auto;
    background: #4E42D9;
    border-radius: 4px;
    padding:16px 30px;
    width:65px;
    color:white;
    font-weight: 700;
    font-size: 16px;
    margin-top:71px;
}

.fifth-section{
    margin:0px auto;
    background-color: #292838;;
    font-weight: 700;
    font-size: 30px;
    width:1440px;
    padding:72px 120px;
}

.fifth-title{
    color:white;
    font-weight: 700;
    font-size: 30px;
}

.fifth-left{
    width:398px;
    margin-left:120px;
}

.fifth-content{
    font-weight: 400;
    font-size: 16px;
    width:398;
}

.font-text-18{
    font-size: 18px;
    font-weight: 600;
}

.font-text-16{
    font-size:16px;
    font-weight:400;
}

.margin-footer-89:not(:last-child){
    margin-right:89px;
}

.footer-left-container{
    margin-left:214px;
}

.margin-bottom-12{
    margin-bottom:12px;
}

.margin-bottom-24{
    margin-bottom:24px;
}

.margin-bottom-16{
    margin-bottom:16px;
}

.copy-right{
    margin:0px auto;
    background-color: #23222F;
    padding-top:19px;
    padding-bottom:17px;
    text-align: center;
    color:white;
    font-size:14px;
    font-weight:500;
    width:1440px;
    padding-left:120px;
    padding-right:120px;
}

 /* @media (max-width:1200px){
    .header{
        width:1200px;
        margin:0px auto;
    }

    .container {
        width: 1200px;
        margin: 0 auto;
    }

    .second-section{
        padding-top:100px;
        height: 584px; 
        margin-bottom:72px;
        padding-left:120px;
        padding-right:120px;
    }

    img{
        max-width: 100%;
    }

    .second-section-left-top{
        width: 450px;
         height: 141px;
         font-weight: 700;
        font-size: 36px;
        color: #3B3950;
    }
    
    .second-section-left-centre{
        padding-top:12px;
        width: 454px;
        height: 216px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #797979;
    }

    .second-section-right{
        width: 50%;
    }

    .web-app{
        width: 20%;
        text-align: center;
        padding-left:8.5%;
    }
    .seo{
        width: 20%;
        text-align: center;
        padding-left:1.5%;
    }
    
    .game{
        width: 20%;
        text-align: center;
        padding-left:1.5%;
    }
    
    .ai{
        width: 20%;
        text-align: center;
        padding-left:1.5%;
    }

    .blog-topic{
        font-weight: 600;
        font-size: 18px;
        color: #3B3950;
        margin-bottom: 12px;
        margin-left:2%;
    }
    
    .blog-content{
        font-weight: 400;
        font-size: 16px;
        color: #797979;}

    .blog-1{
        width:27%;
    }
    
    .blog-1:last-child{
        padding-right:4%;
    }

    .view{
        margin-right:70%;
        margin-left:50%;
    }
    

    .fourth-section{
        background-color: #F8F8F8;
        margin:0px auto;
        padding-right: 10% ;
        padding-left:3%;
        width:1440px;
    }
    
    .fifth-section{
        margin:0px auto;
        background-color: #292838;;
        font-weight: 700;
        font-size: 30px;
        width:1440px;
        padding-top:72px;
        padding-left: 3% ;
    }

    .margin-bottom-12{
        margin-bottom:12px;
    }
    
    .margin-bottom-24{
        margin-bottom:24px;
    }
    
    .margin-bottom-16{
        margin-bottom:16px;
    }

    .copy-right{
        width:100%;
        padding-right:18%%;
    }
 } */

 

/* tab */
@media (max-width: 912px) {
    .header{
        width:100%;
        margin:0px auto;
    }

    .navigation {
        min-width:576px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        overflow: hidden;
        width:100%;
    }
    
    .navi-item {
        display: block;
        float: left;
        padding-top:45px;
        font-weight: 600;
        font-size: 16px;
    }

    .logo{
        font-size: 30px;
        line-height: 45px;
        font-weight: 600;
        float: left;
        padding-left:30px;
        margin-right:30px;
        padding-top:32px;
    }
    
    .contact-box {
        padding: 16px 20px;
        margin-right:40px;
        margin-top:32px;
        background: #4E42D9;
        border-radius: 4px;
    }

    .second-section{
        padding-top:70px;
        height: 584px; 
        margin-bottom:0px;
        width:100%;
    }

    .second-section-right{
        max-width:912px;
        width: 40%;
        padding-left:0px;
    }
    
    
    .second-section-left-top{
        width: 400px;
        height: 141px;
        font-weight: 700;
        font-size: 36px;
        color: #3B3950;
        padding-bottom:12px;
        padding-left:60px;
    }
    
    .second-section-left-centre{
        padding-top:12px;
        padding-left:60px;
        width: 454px;
        height: 216px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #797979;
    }
    
    .second-section-left-bottom{
       padding-top: 48px;
       padding-left:60px;
    }

    .third-section-first{
        min-width:576px;
        width:912px;
        font-weight: 600;
        font-size: 32px;
        text-align:center;
        color: #3B3950;
        padding-top:0px;
        padding-bottom:72px;
    }
    
    .web-app{
        width: 200px;
        text-align: center;
        padding-left:30px;
    }

    .seo{
        width: 200px;
        text-align: center;
        padding-left:15px;
    }
    
    .game{
        width: 200px;
        text-align: center;
        padding-left:15px;
    }
    
    .ai{
        width: 200px;
        text-align: center;
        padding-left:20px;
    }

    .what-do-heading{
        font-weight: 500;
        font-size: 18px;
        color: #3B3950;
        margin-bottom: 8px;
    }
    
    .what-do-content{
        font-weight: 400;
        font-size: 15px;
        color: #797979;
    }

    .third-text{
        margin:0px auto;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color:#797979;
        margin-bottom: 40px;
        width:560px;
    }

    .fourth-section{
        background-color: #F8F8F8;
        margin:0px auto;
        margin-top:72px;
        width:912px;
        padding-left:30px;
    }
    
    .fourth-section-first{
        min-width:576px;
        width:100%;
        font-weight: 600;
        font-size: 32px;
        text-align:center;
        color: #3B3950;
    }

    .third-text{
        margin:0px auto;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color:#797979;
        margin-bottom: 40px;
        width:389px;
        min-width:576px;
    }

    .blog-topic{
        min-width:576px;
        font-weight: 600;
        font-size: 18px;
        color: #3B3950;
        margin-bottom: 12px;
    }
    
    .blog-content{
        font-weight: 400;
        font-size: 16px;
        color: #797979;
        padding-left:0px;
    }

    .blog-container{
        margin-left:0px;
        margin-right:0px;
        margin-bottom:90px;
    }

    .blog-1{
        width:250px;
        padding-left:20px;
    }
    
    .blog-1:not(:last-child){
        margin-right:20px;
    }

    .blog-topic{
        font-weight: 600;
        font-size: 14px;
        color: #3B3950;
        margin-bottom: 12px;
    }

    .blog-content{
        font-weight: 400;
        font-size: 12px;
        color: #797979;
    }

    .fifth-section{
        margin:0px auto;
        background-color: #292838;;
        font-weight: 700;
        font-size: 30px;
        max-width:912px;
        width:100%;
        padding-left:20px;
        float:left;
        
    }
    
    .fifth-title{
        color:white;
        font-weight: 700;
        font-size: 20px;
        padding-left:0px;
        float:none;
        padding-right:89px;
    }
    
    .fifth-left{
        width:398px;
        margin-left:0px;
        float:left;
        padding-left:60px;
    }
    
    .fifth-content{
        font-weight: 400;
        font-size: 14px;
        width:398px;
        float:right;
        padding-bottom:48px;
    }

    .copy-right{
        margin:0px auto;
        background-color: #23222F;
        padding-top:19px;
        padding-bottom:17px;
        text-align: center;
        color:white;
        font-size:14px;
        font-weight:500;
        width:912px;
        padding-left:0px;
    }

    .footer-left-container{
        margin-left:0px;
    }

    .font-text-18{
        font-size: 14px;
        font-weight: 600;
    }
    
    .font-text-16{
        font-size:12px;
        font-weight:400;
    }

    .margin-footer-89:not(:last-child){
        margin-right:40px;
    }
}

/* Mobile*/

@media (max-width: 576px) {
    .header{
        width:100%;
        margin:0px auto;
        
    }

    .logo{
        font-weight: 600;
        font-size: 24px;
        margin-left:40.5px;
        margin-top:20px;
        margin-bottom:70px; 
        padding-left:3%;
        padding-top:20px; 
    }

    .navi-item {
        display: none ;
        padding-top:45px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    .container {
        width: 576px;
        margin: 0px auto;
    }

    .second-section{
        max-width:576px;
        padding-top:0px;
        height: 584px; 
        padding-left:3%;
        margin-bottom:72px;
        padding-left:20px;
    }

    .second-section-left-centre{
        padding-top:12px;
        width: 388px;
        height: 216px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #797979;
        padding-bottom: 48px;
        padding-left:15px;
    }

    .second-section-right{
        width: 388px;
        float:none;
        padding-right:3%;
    }
    .second-section-left-top{
        width: 388px;
        height: 141px;
        font-weight: 700;
        font-size: 36px;
        color: #3B3950;
        padding-bottom:12px;
        padding-left:15px;
    }

    .second-section-left-bottom{
        padding-top: 48px;
     }
     
     .second-section-left-bottom-left{
         background: #4E42D9;
         border-radius: 4px;
         padding-right: 30px;
         padding-top:16px;
         padding-left:10px;
         padding-bottom:16px;
     }
     

    .third-section-first{
        max-width:429px;
        width:100%;
        font-weight: 600;
        font-size: 32px;
        text-align:center;
        color: #3B3950;
        padding-top:100px;
        padding-bottom:72px;
    }

    .web-app{
        padding-left:0px;
        float:none;
        max-width:429px;
        width: 100%;
        text-align: center;
        padding-bottom:20px;
    }

    .seo{
        padding-left:0px;
        float:none;
        max-width:429px;
        width: 100%;
        text-align: center;   
        padding-bottom:20px;     
    }

    .game{
        padding-left:0px;
        float:none;
        max-width:429px;
        width: 100%;
        text-align: center;   
        padding-bottom:20px;     
    }
        
    .ai{
        padding-left:0px;
        float:none;
        max-width:429px;
        width: 100%;
        text-align: center;
        padding-bottom:20px;        
    }

    .fourth-section{
        background-color: #F8F8F8;
        margin:0px auto;
        margin-top:72px;
        padding-left:0px;
        float:none;
        width:429px;
        
    }
    
    .fourth-section-first{
        max-width:576px;
        width:100%;
        font-weight: 600;
        font-size: 32px;
        text-align:center;
        color: #3B3950;
    }

    .third-text{
        margin:0px auto;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color:#797979;
        margin-bottom: 40px;
        width:389px;
        max-width:576px;
    }

    .blog-topic{
        max-width:429px;
        font-weight: 600;
        font-size: 14px;
        width:386px;
        color: #3B3950;
        margin-bottom: 12px;
        
    }
    
    .blog-content{
        width:429px;
        font-weight: 400;
        font-size: 16px;
        color: #797979;
        padding-left:0px;
    }

    .blog-container{
        margin-left:0px;
        margin-right:0px;
        margin-bottom:72px;
    }

    .blog-1{
        margin:0px auto;
        width:386px;
        padding-left:0px;
        float:none;
        
    }
    
    .blog-1:not(:last-child){
        padding-bottom: 50px;
        margin-right:20px;
    }
    
    .fifth-section{
        margin:0px auto;
        background-color: #292838;;
        font-weight: 700;
        font-size: 16px;
        max-width:429px;
        width:100%;
        padding-left:px;
        float:none;
        
    }
    
    .fifth-title{
        color:white;
        font-weight: 700;
        font-size: 16px;
        padding-left:0px;
        float:none;
        padding-right:9px;
    }
    
    .fifth-left{
        width:20-px;
        margin-left:0px;
        float:none;
    }
    
    .fifth-content{
        font-weight: 400;
        font-size: 14px;
        width:398px;
        float:none;
        padding-bottom:48px;
    }

    .font-text-18{
        font-size: 16px;
        font-weight: 600;
    }
    
    .font-text-16{
        font-size:12px;
        font-weight:400;
    }
    
    .margin-footer-89:not(:last-child){
        margin-right:89px;
    }
    
    .copy-right{
        margin:0px auto;
        background-color: #23222F;
        padding-top:19px;
        padding-bottom:17px;
        text-align: center;
        color:white;
        font-size:14px;
        font-weight:500;
        width:429px;
        padding-left:0px;
    }

    .footer-left-container{
        margin-left:0px;
        padding-left:60px;
    }
}


  